.slider_wrapper{
  position: absolute;
  left: -50%;
  width: 200%;
}
.slider_nav{
  position: relative;
  z-index: 9;
}

.slider_wrapper .swiper-slide{
  position: relative;
  height: auto;
  width: 400px;
  box-shadow: 0 0 25px 0 #fff;
}
.slider_wrapper .swiper-slide img{
  width: 100%;
  border-radius: 35px;
  transition: border-radius .45s;
}

.slider_wrapper .swiper-slide .description{
  position: absolute;
  top: 100%; left: 0;
  height: 5%; width: 100%;
  margin-top: -5px;
  text-align: center;
  color: #fff;
  background: #ffffff;
  box-sizing: border-box;
  transition: all .45s;
}
.slider_wrapper .swiper-slide .description span{
  position: relative;
  display: block;
  font-size: 20px;
  top: calc(50% - 10px);
}

.slider_wrapper .swiper-wrapper > .swiper-slide{opacity: 0.2;}
.slider_wrapper .swiper-slide.swiper-slide-next,
.slider_wrapper .swiper-slide.swiper-slide-prev{opacity: 0.5;}
.slider_wrapper .swiper-slide.swiper-slide-active{opacity: 1;}

.slider_wrapper .swiper-wrapper > .swiper-slide .description{
  top: calc(100% - 100px);
  opacity: 0;
}
.slider_wrapper .swiper-slide.swiper-slide-active .description{
  top: 100%;
  opacity: 1;
}
.slider_wrapper .swiper-slide.swiper-slide-active img{border-radius: 35px 35px 0 0;}
